

body{
	background-color:#00F;
}

h1{
	color:#FC0;
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
	padding-bottom:50px;
	text-align:center;
}

p span{font-size:2em;
}

button{
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #4288D4;
	color: black;
	display: inline-block;
	transition: 0.3;
}

button:hover{
	transform: scale(1.2);
	letter-spacing: 3px;
	color: white;
}

h3{
	font-size: 25px;
	margin: 5px 0px 10px;
	text-transform: uppercase;
	letter-spacing: 5px;

}

#pruebas{
	font-size: 30px;
	margin: 5px 10px 10px;
	text-transform: uppercase;
	background-color: #555555;

}

